.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.profile-box{
  background-color: #8080801c;
  padding: 5px;
  border-radius: 25px;
  margin-right: 50px;
  padding: 15px;
}

.tweet-textarea {
  border: 0px none;
  margin-top: 5px;
  font-size: 1em;
  padding: 15px 10px 10px;
  font-family: 'Source Sans Pro',arial,sans-serif;
  background: #f8f9fa;
  color: black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 90%;
  max-width: 700px;
}
