{% extends "blog/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}ホーム{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'blog:home' %}">Twitter</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainMenu">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.username }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                        <a class="dropdown-item" href="#">My account</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'user:logout' %}">Log out</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div>
    <article>
        <div style="width: 100%; word-break: break-all;">
            <div class="pb-2 row m-0 " style="width: 100%; margin-right: 0 !important;">
               <div style="padding-left: 0px !important;" class="col-8 no-padding d-flex align-items-center">
                   {{ post.author }}
               </div>
           </div>
            <p>{{ post.content }}</p>
            <small class="white-important full-width flex-row-reverse">
                {{ post.created_at | date:"H:i l, d.m.y" }}
            </small>
        </div>
   </article>
</div>
{% endblock %}
