{% extends "blog/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}ホーム{% endblock %}

{% block content %}
<div>
    <article>
        <div style="width: 100%; word-break: break-all;">
            <div class="pb-2 row m-0 " style="width: 100%; margin-right: 0 !important;">
               <div style="padding-left: 0px !important;" class="col-8 no-padding d-flex align-items-center">
                   {{ post.author }}
               </div>
           </div>
            <p>{{ post.content }}</p>
            <small class="white-important full-width flex-row-reverse">
                {{ post.created_at | date:"H:i l, d.m.y" }}
            </small>
        </div>
   </article>
</div>
{% endblock %}
