{% extends "blog/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}ホーム{% endblock %}

{% block content %}
<div class="wrapper">
  <div class="profile">
    <h4>Ready Tweet</h4>
    <div class="profile-box" style="text-align: center">
      <div>{{ user.username }}</div>
        <div style="justify-content: center; display: flex">
          <div style="margin-right: 5px">
            <div>Following</div>
            <div>{{ following_count }}</div>
          </div>
          <div style="margin-left: 5px">
            <div>Follower</div>
            <div>{{ follower_count }}</div>
          </div>
        </div>
        <button onclick="location.href='create'" class="btn btn-primary" >Tweet</button>
    </div>
    <div style="margin-top: 20px">
      <a href="{% url 'blog:following' user.username %}" style="color: gray;"><h4>following list</h4></a>
      <a href="{% url 'blog:follower' user.username %}" style="color: gray;"><h4>follower list</h4></a>
    </div>
  </div>
  <div>
    {% for post in post_list %}
    <div class="post-box" >
      <hr />
        <div style="font-family: 'HanziPen SC'">{{post.content|linebreaksbr}}</div>
      <p>
        <a href="{% url 'user:follow_index' post.author %}" style="color: gray">{{post.author}}</a>
        <small class="white-important full-width flex-row-reverse">
          {{ post.created_at | date:"H:i l, d.m.y" }}
        </small>
        <a href="{% url 'blog:detail' post.id %}">Detail</a>
        {% if post.author == user %}
          <a href="{% url 'blog:update' post.id %}">Update</a>
          <a href="{% url 'blog:delete' post.id %}">Delete</a>
        {% endif %}
      <p/>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
