{% extends "user/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}ユーザ登録{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Twitter</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainMenu">
        <form class="form-inline ml-auto">
          <a href="/login" class="btn btn-outline-secondary">Log in</a>
          <a href="{% url 'user:signup' %}" class="btn btn-primary ml-2">Sign up</a>
        </form>
    </div>
  </div>
</nav>
<div class="row">
    <div class="col-12">
        <br>
        <h1>新規登録</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                {{ field.label }}
            <div>{{ field|add_class:"form-control user_form" }}</div>
                {{ field.errors }}
                <br>
            {% endfor %}
            <button type="submit" class="btn btn-primary">登録</button>
        </form>
    </div>
</div>
{% endblock %}
