{% extends "user/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}ユーザ登録{% endblock %}

{% block content %}
<img src="{% static "img/twitter_background.jpg" %}" id="background" >
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid ">
    <a class="navbar-brand" href="">Twitter</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="login/">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="row">
    <div class="col">
        <br>
        <h1>新規登録</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                {{ field.label }}
            <div>{{ field|add_class:"form-control user_form" }}</div>
                {{ field.errors }}
                <br>
            {% endfor %}
            <button type="submit" class="btn btn-primary">登録</button>
        </form>
    </div>
</div>
{% endblock %}
